/*=============================
  CARRITO DE COMPRAS
==============================*/

.cart-btn{

display:flex;

align-items:center;

justify-content:center;

gap:10px;

padding:10px 16px;

border:1px solid  rgba(0,0,0,.18);

border-radius:12px;

background:#ffffff;

color:#d62828;

cursor:pointer;

transition: all .25s ease;

box-shadow:0 3px 10px rgba(0,0,0,.06);

user-select:none;

font-size:1.20rem;

line-height:1;

}

.cart-btn i{

font-size: 1.35rem;    

transition:.25s;

}

.cart-btn:hover{



border-color:#d62828;

transform: translate(-1px);

box-shadow: 0 6px 14px rgba(214,40,40, .15);

}

.cart-btn:hover{

color:#ffc813;

}

.cart-count{

display:flex;

justify-content:center;

align-items:center;

width:24px;

height:24px;

border-radius:50%;

background:#d62828;

color:#fff;

font-size:.75rem;

font-weight:700;

box-shadow:0 2px 6px rgba(214,40,40,.25);

}

.cart-btn.filled{

background:#fff5f5;

border-color:#d62828;

color:#d62828;

}

/*=============================
 PANEL LATERAL
==============================*/

.cart-overlay{

position:fixed;

inset:0;

background:rgba(0,0,0,.45);

opacity:0;

visibility:hidden;

transition:.30s;

z-index:2500;

}

.cart-overlay.active{

opacity:1;

visibility:visible;

}

.cart-panel{

position:absolute;

top:0;

right:-430px;

width:400px;

max-width:95%;

height:100%;

background:#fff;

display:flex;

flex-direction:column;

box-shadow:-8px 0 25px rgba(0,0,0,.18);

transition:right .35s ease;

}

.cart-overlay.active .cart-panel{

right:0;

}

.cart-header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

border-bottom:1px solid #ececec;

}

.cart-header h2{

margin:0;

font-size:1.3rem;

}

.cart-close{

font-size:28px;

cursor:pointer;

transition:.25s;

}

.cart-close:hover{

transform:rotate(90deg);

}

.cart-body{

flex:1;

padding:25px;

overflow-y:auto;

}

.cart-empty{

text-align:center;

margin-top:70px;

color:#777;

line-height:1.8;

}

.cart-footer{

padding:20px;

border-top:1px solid #ececec;

}

.cart-footer button{

width:100%;

padding:14px;

border:none;

border-radius:10px;

background:#d62828;

color:#fff;

font-size:1rem;

font-weight:600;

cursor:pointer;

transition:.25s;

}

.cart-footer button:hover{

background:#b51f1f;

}

@keyframes popCart{

0%{

transform:scale(.8);

}

50%{

transform:scale(1.25);

}

100%{

transform:scale(1);

}

}

.cart-count.pop{

animation:popCart .30s ease;

}